server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true # Thường Gateway cũng đăng ký chính nó
    service-url:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true

spring:
  main:
    web-application-type: reactive
  data:
    redis:
        host: localhost
        port: 6379
#        password: Thai@11052004
        timeout: 60000
  cloud:
    gateway:
#      default-filters:
#        - name: RequestRateLimiter
#          args:
#            redis-rate-limiter.replenishRate: 10
#            redis-rate-limiter.burstCapacity: 20
#            key-resolver: "#{@ipKeyResolver}"
      httpclient:
        connect-timeout: 5000
        response-timeout: 3s
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Auth Service
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**, /auth/v3/api-docs
          filters:
            - RewritePath=/auth/(?<segment>.*), /${segment}
#            - name: RequestRateLimiter
#              args:
#                redis-rate-limiter.replenishRate: 5
#                redis-rate-limiter.burstCapacity: 10
#                key-resolver: "#{@ipKeyResolver}"

        # Notification Service
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**, /notifications/v3/api-docs
          filters:
            - RewritePath=/notifications/(?<segment>.*), /${segment}

        # Order Service
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**, /orders/v3/api-docs
          filters:
            - RewritePath=/orders/(?<segment>.*), /${segment}

        # Payment Service
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payments/**, /payments/v3/api-docs
          filters:
            - RewritePath=/payments/(?<segment>.*), /${segment}

        # Support Service
        - id: support-service
          uri: lb://support-service
          predicates:
            - Path=/support/**, /support/v3/api-docs
          filters:
            - RewritePath=/support/(?<segment>.*), /${segment}

        # User Service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**, /users/v3/api-docs
          filters:
            - RewritePath=/users/(?<segment>.*), /${segment}

        # Product Service
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**, /products/v3/api-docs
          filters:
            - RewritePath=/products/(?<segment>.*), /${segment}

        # Cart Service
        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/cart/**, /cart/v3/api-docs
          filters:
            - RewritePath=/cart/(?<segment>.*), /${segment}

          # File Service
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/files/**, /files/v3/api-docs
          filters:
            - RewritePath=/files/(?<segment>.*), /${segment}

springdoc:
  swagger-ui:
    urls:
      - name: auth-service
        url: /auth/v3/api-docs
      - name: notification-service
        url: /notifications/v3/api-docs
      - name: order-service
        url: /orders/v3/api-docs
      - name: payment-service
        url: /payments/v3/api-docs
      - name: support-service
        url: /support/v3/api-docs
      - name: user-service
        url: /users/v3/api-docs
      - name: product-service
        url: /products/v3/api-docs
      - name: file-service
        url: /files/v3/api-docs
      - name: cart-service
        url: /cart/v3/api-docs


