server:
  port: 8888

spring:
  application:
    name: cart-service

  data:
    mongodb:
      uri: mongodb://root:Thai%4013082020@localhost:27817/laundry-cart?authSource=admin
      auto-index-creation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

data:
  redis:
    host: redis
    port: 6379
    password: Thai@11052004
    timeout: 60000

cache:
  type: redis

