server:
  port: 8081

spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        # Thuộc tính này cực kỳ quan trọng để gom nhóm ID
        group:
          enabled: true
        alphanumeric-ids:
          enabled: true
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/auth-service
    username: admin
    password: Thai@13082020
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  data:
    redis:
      host: localhost
      port: 6379
      #        password: Thai@11052004
      timeout: 60000
  kafka:
    bootstrap-servers: localhost:9092
    producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        acks: all
        retries: 30
        compress-type: lz4
        properties:
          enable-idempotence: true
          max.in.flight.request.per.connect: 5
          spring.json.add.type.header: false


jwt:
  accessTokenSecret: sqWbT3cxuKh1Qg2zWc3RSdvLN0PAZE8mpNqpTxGTxw0=
  refreshTokenSecret: RpHz5z6LHjsAjGfX1txgCO9D/PmNlZJMRRKbM925joU=
  mailSecret: RpHz5z6LHjsAjGfX1txgCO9D/1105ZJMRRKbM925joU=
  accessTokenExpiration: 30000000
  refreshTokenExpiration: 2592000000
  mailExpiration: 300000

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
          - circuitbreakers
          - circuitbreakerevents
          - retries
          - retryevents
          - bulkheads
          - bulkheadevents
          - threadpoolbulkheads
          - threadpoolbulkheadevents
  endpoint:
    health:
      show-details: always

  health:
    defaults:
      enabled: true


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    healthcheck:
      enabled: true

  instance:
    prefer-ip-address: true

    # =========================
    # LEASE / HEARTBEAT
    # =========================
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

    instance-id: ${spring.application.name}:${server.port}


resilience4j:
  circuitbreaker:
    instances:
      user-service:
        registerHealthIndicator: true
        sliding-window-type: COUNT_BASED
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        slow-call-duration-threshold: 2s
        slow-call-rate-threshold: 50

  timelimiter:
    instances:
      user-service:
        timeout-duration: 2s
        cancel-running-future: true

  retry:
    instances:
      user-service:
        max-attempts: 3
        wait-duration: 500ms
        retry-exceptions:
        - feign.RetryableException
        - java.net.SocketTimeoutException

  bulkhead:
    instances:
      user-service:
        max-concurrent-calls: 20
        max-wait-duration: 0ms
