server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  config:
    import: "classpath:common.yml"
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Auth Service
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**, /auth/v3/api-docs
          filters:
            - RewritePath=/auth/(?<segment>.*), /${segment}

        # Notification Service
        - id: notification-service
          uri: http://localhost:8082
          predicates:
            - Path=/notifications/**, /notifications/v3/api-docs
          filters:
            - RewritePath=/notifications/(?<segment>.*), /${segment}

        # Order Service
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/orders/**, /orders/v3/api-docs
          filters:
            - RewritePath=/orders/(?<segment>.*), /${segment}

        # Payment Service
        - id: payment-service
          uri: http://localhost:8084
          predicates:
            - Path=/payments/**, /payments/v3/api-docs
          filters:
            - RewritePath=/payments/(?<segment>.*), /${segment}

        # Support Service
        - id: support-service
          uri: http://localhost:8085
          predicates:
            - Path=/support/**, /support/v3/api-docs
          filters:
            - RewritePath=/support/(?<segment>.*), /${segment}

        # User Service
        - id: user-service
          uri: http://localhost:8086
          predicates:
            - Path=/users/**, /users/v3/api-docs
          filters:
            - RewritePath=/users/(?<segment>.*), /${segment}

        # Product Service
        - id: product-service
          uri: http://localhost:8087
          predicates:
            - Path=/products/**, /products/v3/api-docs
          filters:
            - RewritePath=/products/(?<segment>.*), /${segment}

        # Cart Service
        - id: cart-service
          uri: http://localhost:8888
          predicates:
            - Path=/cart/**, /cart/v3/api-docs
          filters:
            - RewritePath=/cart/(?<segment>.*), /${segment}

          # File Service
        - id: file-service
          uri: http://localhost:8088
          predicates:
            - Path=/files/**, /files/v3/api-docs
          filters:
            - RewritePath=/files/(?<segment>.*), /${segment}

springdoc:
  swagger-ui:
    urls:
      - name: auth-service
        url: /auth/v3/api-docs
      - name: notification-service
        url: /notifications/v3/api-docs
      - name: order-service
        url: /orders/v3/api-docs
      - name: payment-service
        url: /payments/v3/api-docs
      - name: support-service
        url: /support/v3/api-docs
      - name: user-service
        url: /users/v3/api-docs
      - name: product-service
        url: /products/v3/api-docs
      - name: file-service
        url: /files/v3/api-docs
      - name: cart-service
        url: /cart/v3/api-docs
