server:
  port: 8086

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user-profile
    username: root
    password: Thai@11052004
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/