server:
  port: 8082

spring:
  application:
    name: notification-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: thai110504@gmail.com
    password: xwxjgqvanhdydolm
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    mongodb:
      uri: mongodb://root:Thai%4013082020@localhost:27817/laundry-notification?authSource=admin
      auto-index-creation: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

